/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
NAVIGATION STYLES
-------------------- */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  background-color: #dcdcdc;
  margin: 4px 4px 0 4px;
}

.navbar-custom a {
  color: #333;
}

.navbar-custom .navbar-brand {
  font-weight: 400;
  font-size: 1.6rem;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 1.6rem;
  color: #333;
}

.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom .nav li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-custom .nav li:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-custom .nav li:nth-child(5) {
  border-bottom: none;
}

.navbar-custom .nav li a {
  padding: 15px;
  border: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 3px solid transparent;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  border: 3px solid #07A5B3;
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li:active {
  outline: 0;
}

.navbar-custom .nav li:active a {
  background-color: rgba(241, 241, 241, 0.9);
  padding: 12px;
  border: 3px solid #07A5B3;
}

.navbar-custom .nav li:active a:hover {
  color: #E62093;
}

@media (min-width: 768px) {
  .navbar-custom {
    margin: 8px 8px 0 8px;
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
  }
  .navbar-custom .navbar-brand {
    background-color: rgba(241, 241, 241, 0.7);
  }
  .navbar-custom .nav li {
    border-bottom: none;
    background-color: rgba(241, 241, 241, 0.7);
  }
  .navbar-custom .nav li:nth-child(2) {
    border-top: none;
  }
  .navbar-custom .top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background: #000;
  }
}

/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
SPLASH STYLES
-------------------- */
.splash {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #333;
  background-color: #f1f1f1;
}

.splash .splash-body {
  display: table-cell;
  vertical-align: middle;
}

.splash .splash-body .splash-logo {
  position: absolute;
  top: -150px;
  width: 92%;
}

.splash .splash-body .splash-tag {
  font-size: 1.8rem;
  position: relative;
  top: 50px;
}

.splash .splash-body .splash-divider {
  display: inline-block;
  position: absolute;
  border-bottom: 2px dashed #07A5B3;
  margin-bottom: 10vh;
  width: 80%;
  left: 10%;
  bottom: 0;
  line-height: 2.5em;
}

@media (min-width: 768px) {
  .splash {
    height: 100%;
    padding: 0;
  }
  .splash .splash-body .splash-logo {
    width: 100%;
  }
  .splash .splash-body .splash-tag {
    font-size: 2.6rem;
    margin-top: 25px;
  }
}

/* --------------------
PORTFOLIO STYLES
-------------------- */
.portfolio {
  min-height: 100%;
}

.portfolio .portfolio-row {
  padding-bottom: 10px;
}

.portfolio .portfolio-row .img-border {
  max-width: 500px;
  border: 4px solid #07A5B3;
  margin: 0 auto;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.portfolio .portfolio-row .img-border:hover {
  border-color: #E62093;
}

.portfolio .portfolio-row .img-border .portfolio-img {
  margin: 0 auto;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.portfolio .portfolio-row .img-border .portfolio-img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

.portfolio .portfolio-view-more {
  text-align: center;
  margin: 20px auto;
  width: auto;
  height: auto;
}

.portfolio .portfolio-view-more a {
  padding: 15px;
  border: solid 3px #07A5B3;
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
}

.portfolio .portfolio-view-more a:hover {
  background-color: #07A5B3;
  border-color: #0E8E99;
  color: white;
}

@media (min-width: 768px) {
  .portfolio .portfolio-view-more {
    margin: 75px;
  }
}

/* --------------------
ABOUT STYLES
-------------------- */
.about {
  min-height: 100%;
}

.about .about-lead {
  font-size: 2.4rem;
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
}

.about .about-name {
  color: #E62093;
  font-weight: 400;
}

.about .about-img {
  max-width: 100%;
  margin-top: 25px;
}

.about .about-cv {
  margin-top: 30px;
  text-align: center;
}

.about .about-cv a {
  padding: 15px;
  border: solid 3px #07A5B3;
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
}

.about .about-cv a:hover {
  background-color: #07A5B3;
  border-color: #0E8E99;
  color: white;
}

@media (min-width: 768px) {
  .about .about-lead {
    font-size: 3.4rem;
  }
  .about .about-img {
    margin-top: 0px;
  }
}

/* --------------------
CONTACT STYLES
-------------------- */
.contact {
  min-height: 100%;
}

.contact .form-title {
  text-align: center;
  margin-bottom: 25px;
}

.contact .form-control {
  border: 2px solid #07A5B3;
  border-radius: 0px;
  background-color: #fafafa;
}

.contact form label {
  text-align: right;
}

.contact form textarea {
  max-width: 100%;
}

.contact form #submit {
  border-radius: 0px;
  background-color: #f1f1f1;
  border: solid 3px #07A5B3;
  color: #000;
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.contact form #submit:hover {
  background-color: #07A5B3;
  border-color: #0E8E99;
  color: white;
}

.contact-right {
  margin-top: 55px;
}

.contact-right .contact-highlight {
  color: #E62093;
  font-weight: 400;
}

.contact-right .contact-detail {
  font-size: 2.0rem;
}

.contact-right .contact-detail .contact-detail-right {
  text-align: right;
  float: right;
}

/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
PORTFOLIO VIEW ALL STYLES
-------------------- */
.portfolio-header {
  font-size: 4.5rem;
  padding-bottom: 50px;
  text-align: center;
}

.portfolio-filter {
  text-align: center;
  display: inline-block;
  position: relative;
  border: 3px solid transparent;
  padding: 5px;
  margin-bottom: 30px;
  float: left;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.portfolio-filter:hover {
  cursor: pointer;
  border: 3px solid #07A5B3;
}

.portfolio-filter h4 {
  font-size: 16px;
}

.portfolio-filter.active {
  border: 3px solid #07A5B3;
}

#Container {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: flex-start;
  margin-bottom: 50px;
}

#Container .mix {
  display: none;
  text-align: center;
}

#Container .mix a img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

@media (min-width: 768px) {
  .portfolio-header {
    font-size: 5.2rem;
  }
  .portfolio-filter {
    padding: 10px;
    margin-bottom: 50px;
  }
  #Container .mix a img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  #Container .mix a img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

/* --------------------
PORTFOLIO ITEM PAGE STYLES
-------------------- */
.portfolio-item-outer {
  border: solid 3px #07A5B3;
  margin-bottom: 15px;
  padding: 10px;
}

.portfolio-item-outer .portfolio-caption {
  text-align: center;
  padding-top: 3px;
}

.back-button {
  position: fixed;
  bottom: 0;
  left: 4%;
  height: 55px;
  width: auto;
  padding: 14px 10px 10px 10px;
  background-color: #07A5B3;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  font-size: 18px;
  color: white;
}

.back-button:hover {
  height: 65px;
}

.back-button i {
  position: relative;
  top: -2px;
}

/* Embed responsively videos */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --------------------
    BASIC PAGE STYLES
-------------------- */
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

html body {
  width: 100%;
  height: 100%;
  font-family: "Playfair Display", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  background-color: #f1f1f1;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0, 0, 35;
  text-transform: uppercase;
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  letter-spacing: 1px;
}

html p {
  line-height: 1.5em;
  margin: 0, 0, 25px;
}

html a {
  color: #07A5B3;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

html a:hover {
  text-decoration: none;
}

.content-section {
  padding-top: 100px;
  padding-left: 14px;
  padding-right: 14px;
}

.section-header {
  font-size: 5.2rem;
  padding-bottom: 100px;
  text-align: center;
}

@media (min-width: 768px) {
  .section-header {
    font-size: 7.2rem;
    padding-bottom: 200px;
  }
}

/* --------------------
    BORDER STYLES
-------------------- */
.border-top,
.border-right,
.border-bottom,
.border-left {
  z-index: 999;
  position: fixed;
  background-color: #07A5B3;
}

.border-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.border-right {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
}

.border-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.border-left {
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
}

@media (min-width: 768px) {
  .border-top {
    height: 8px;
  }
  .border-right {
    width: 8px;
  }
  .border-bottom {
    height: 8px;
  }
  .border-left {
    width: 8px;
  }
}

/* --------------------
FOOTER STYLES
-------------------- */
footer .container {
  text-align: center;
  color: #555;
  font-size: 1.0rem;
  border-top: 2px dashed #07A5B3;
  padding: 15px;
}
