@import '_scss-variables';


@mixin fade-transition($element,
$timing) {
    -webkit-transition: $element $timing ease-out;
    -moz-transition: $element $timing ease-out;
    -o-transition: $element $timing ease-out;
    transition: $element $timing ease-out;
}

@mixin action-button-hover() {
    background-color: #07A5B3;
    border-color: #0E8E99;
    color: white;
}

@mixin filter($filter,
$value) {
    -webkit-filter: $filter(value);
    -moz-filter: $filter(value);
    -o-filter: $filter(value);
    filter: $filter(value);
}