@import '_scss-variables';
@import '_mixins';
/* --------------------
NAVIGATION STYLES
-------------------- */

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-transform: uppercase;
    font-family: $header-font-stack;
    background-color: #dcdcdc;
    margin: $page-border-width/2 $page-border-width/2 0 $page-border-width/2;
    a {
        color: #333;
    }
    .navbar-brand {
        font-weight: 400;
        font-size: 1.6rem;
        &:focus {
            outline: 0;
        }
        .navbar-toggle {
            padding: 4px 6px;
            font-size: 1.6rem;
            color: #333;
            &:focus, &:active {
                outline: 0;
            }
        }
    }
    .nav li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        &:nth-child(2) {
            border-top: 1px solid rgba(0, 0, 0, 0.2);
        }
        &:nth-child(5) {
            border-bottom: none;
        }
        a {
            padding: 15px;
            border: none;
            @include fade-transition(all, 0.3s);
            border: 3px solid transparent;
            &:hover {
                outline: 0;
                border: 3px solid $color--blue;
                background-color: transparent;
            }
            &:focus,
            &:active {
                outline: 0;
                background-color: transparent;
            }
        }
        &:active {
            outline: 0;
            a {
                background-color: rgba(241, 241, 241, 0.9);
                padding: 12px;
                border: 3px solid $color--blue;
                &:hover {
                    color: $color--pink;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar-custom {
        margin: $page-border-width $page-border-width 0 $page-border-width;
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        @include fade-transition(background, 0.5s);
        .navbar-brand {
            background-color: rgba(241, 241, 241, 0.7);
        }
        .nav li {
            border-bottom: none;
            background-color: rgba(241, 241, 241, 0.7);
            &:nth-child(2) {
                border-top: none;
            }
        }
        .top-nav-collapse {
            padding: 0;
            border-bottom: 1px solid rgba(0, 0, 0, .5);
            background: #000;
        }
    }
}