/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
NAVIGATION STYLES
-------------------- */
/* line 7, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  background-color: #dcdcdc;
  margin: 4px 4px 0 4px; }
  /* line 14, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
  .navbar-custom a {
    color: #333; }
  /* line 17, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
  .navbar-custom .navbar-brand {
    font-weight: 400;
    font-size: 1.6rem; }
    /* line 20, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
    .navbar-custom .navbar-brand:focus {
      outline: 0; }
    /* line 23, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
    .navbar-custom .navbar-brand .navbar-toggle {
      padding: 4px 6px;
      font-size: 1.6rem;
      color: #333; }
      /* line 27, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
      .navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
        outline: 0; }
  /* line 32, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
  .navbar-custom .nav li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    /* line 34, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
    .navbar-custom .nav li:nth-child(2) {
      border-top: 1px solid rgba(0, 0, 0, 0.2); }
    /* line 37, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
    .navbar-custom .nav li:nth-child(5) {
      border-bottom: none; }
    /* line 40, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
    .navbar-custom .nav li a {
      padding: 15px;
      border: none;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      border: 3px solid transparent; }
      /* line 45, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
      .navbar-custom .nav li a:hover {
        outline: 0;
        border: 3px solid #07A5B3;
        background-color: transparent;
        color: #333; }
      /* line 52, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
      .navbar-custom .nav li a:focus,
      .navbar-custom .nav li a:active {
        outline: 0;
        background-color: transparent; }
    /* line 57, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
    .navbar-custom .nav li:active {
      outline: 0; }
      /* line 59, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
      .navbar-custom .nav li:active a {
        background-color: rgba(241, 241, 241, 0.9);
        padding: 12px;
        border: 3px solid #07A5B3; }
        /* line 63, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
        .navbar-custom .nav li:active a:hover {
          color: #E62093; }

@media (min-width: 768px) {
  /* line 72, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
  .navbar-custom {
    margin: 8px 8px 0 8px;
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out; }
    /* line 79, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
    .navbar-custom .navbar-brand {
      background-color: rgba(241, 241, 241, 0.7); }
    /* line 82, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
    .navbar-custom .nav li {
      border-bottom: none;
      background-color: rgba(241, 241, 241, 0.7); }
      /* line 85, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
      .navbar-custom .nav li:nth-child(2) {
        border-top: none; }
    /* line 89, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_nav-styles.scss */
    .navbar-custom .top-nav-collapse {
      padding: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      background: #000; } }

/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
SPLASH STYLES
-------------------- */
/* line 7, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
.splash {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #333;
  background-color: #f1f1f1; }
  /* line 15, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .splash .splash-body {
    display: table-cell;
    vertical-align: middle; }
    /* line 18, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .splash .splash-body .splash-logo {
      position: absolute;
      top: -150px;
      width: 92%; }
    /* line 23, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .splash .splash-body .splash-tag {
      font-size: 1.8rem;
      position: relative;
      top: 50px; }
    /* line 28, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .splash .splash-body .splash-divider {
      display: inline-block;
      position: absolute;
      border-bottom: 2px dashed #07A5B3;
      margin-bottom: 10vh;
      width: 80%;
      left: 10%;
      bottom: 0;
      line-height: 2.5em; }

@media (min-width: 768px) {
  /* line 42, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .splash {
    height: 100%;
    padding: 0; }
    /* line 46, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .splash .splash-body .splash-logo {
      width: 100%; }
    /* line 49, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .splash .splash-body .splash-tag {
      font-size: 2.6rem;
      margin-top: 25px; } }

/* --------------------
PORTFOLIO STYLES
-------------------- */
/* line 60, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
.portfolio {
  min-height: 100%; }
  /* line 62, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .portfolio .portfolio-row {
    padding-bottom: 10px; }
    /* line 64, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .portfolio .portfolio-row .img-border {
      max-width: 500px;
      border: 4px solid #07A5B3;
      margin: 0 auto;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      /* line 68, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
      .portfolio .portfolio-row .img-border:hover {
        border-color: #E62093; }
      /* line 73, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
      .portfolio .portfolio-row .img-border .portfolio-img {
        margin: 0 auto;
        display: block;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%); }
        /* line 78, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
        .portfolio .portfolio-row .img-border .portfolio-img:hover {
          -webkit-filter: grayscale(0%);
          -moz-filter: grayscale(0%);
          -ms-filter: grayscale(0%);
          -o-filter: grayscale(0%);
          filter: grayscale(0%); }
  /* line 84, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .portfolio .portfolio-view-more {
    text-align: center;
    margin: 20px auto;
    width: auto;
    height: auto; }
    /* line 89, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .portfolio .portfolio-view-more a {
      padding: 15px;
      border: solid 3px #07A5B3;
      font-family: "Muli", "Helvetica", "Arial", "sans-serif";
      text-transform: uppercase;
      color: #333;
      letter-spacing: 1px; }
      /* line 96, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
      .portfolio .portfolio-view-more a:hover {
        background-color: #07A5B3;
        border-color: #0E8E99;
        color: white; }

@media (min-width: 768px) {
  /* line 105, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .portfolio .portfolio-view-more {
    margin: 75px; } }

/* --------------------
ABOUT STYLES
-------------------- */
/* line 114, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
.about {
  min-height: 100%; }
  /* line 116, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .about .about-lead {
    font-size: 2.4rem;
    font-family: "Muli", "Helvetica", "Arial", "sans-serif";
    font-weight: 300; }
  /* line 121, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .about .about-name {
    color: #E62093;
    font-weight: 400; }
  /* line 125, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .about .about-img {
    max-width: 100%;
    margin-top: 25px; }
  /* line 129, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .about .about-cv {
    margin-top: 30px;
    text-align: center; }
    /* line 132, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .about .about-cv a {
      padding: 15px;
      border: solid 3px #07A5B3;
      font-family: "Muli", "Helvetica", "Arial", "sans-serif";
      text-transform: uppercase;
      color: #333;
      letter-spacing: 1px; }
      /* line 139, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
      .about .about-cv a:hover {
        background-color: #07A5B3;
        border-color: #0E8E99;
        color: white; }

@media (min-width: 768px) {
  /* line 148, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .about .about-lead {
    font-size: 3.4rem; }
  /* line 151, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .about .about-img {
    margin-top: 0px; } }

/* --------------------
CONTACT STYLES
-------------------- */
/* line 161, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
.contact {
  min-height: 100%; }
  /* line 163, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .contact .form-title {
    text-align: center;
    margin-bottom: 25px; }
  /* line 167, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .contact .form-control {
    border: 2px solid #07A5B3;
    border-radius: 0px;
    background-color: #fafafa; }
  /* line 173, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .contact form label {
    text-align: right; }
  /* line 176, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .contact form textarea {
    max-width: 100%; }
  /* line 179, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .contact form #submit {
    border-radius: 0px;
    background-color: #f1f1f1;
    border: solid 3px #07A5B3;
    color: #000;
    font-family: "Muli", "Helvetica", "Arial", "sans-serif";
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    /* line 187, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .contact form #submit:hover {
      background-color: #07A5B3;
      border-color: #0E8E99;
      color: white; }

/* line 194, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
.contact-right {
  margin-top: 55px; }
  /* line 196, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .contact-right .contact-highlight {
    color: #E62093;
    font-weight: 400; }
  /* line 200, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
  .contact-right .contact-detail {
    font-size: 2.0rem; }
    /* line 202, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_index-styles.scss */
    .contact-right .contact-detail .contact-detail-right {
      text-align: right;
      float: right; }

/* --------------------
    VARIABLES
-------------------- */
/* --------------------
    VARIABLES
-------------------- */
/* --------------------
PORTFOLIO VIEW ALL STYLES
-------------------- */
/* line 7, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
.portfolio-header {
  font-size: 4.5rem;
  padding-bottom: 50px;
  text-align: center; }

/* line 13, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
.portfolio-filter {
  text-align: center;
  display: inline-block;
  position: relative;
  border: 3px solid transparent;
  padding: 5px;
  margin-bottom: 30px;
  float: left;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  /* line 22, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  .portfolio-filter:hover {
    cursor: pointer;
    border: 3px solid #07A5B3; }
  /* line 26, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  .portfolio-filter h4 {
    font-size: 16px; }

/* line 31, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
.portfolio-filter.active {
  border: 3px solid #07A5B3; }

/* line 35, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
#Container {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: flex-start;
  margin-bottom: 50px; }
  /* line 41, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  #Container .mix {
    display: none;
    text-align: center; }
    /* line 45, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
    #Container .mix a img {
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%); }

@media (min-width: 768px) {
  /* line 54, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  .portfolio-header {
    font-size: 5.2rem; }
  /* line 57, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  .portfolio-filter {
    padding: 10px;
    margin-bottom: 50px; }
  /* line 64, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  #Container .mix a img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
    /* line 66, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
    #Container .mix a img:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%); } }

/* --------------------
PORTFOLIO ITEM PAGE STYLES
-------------------- */
/* line 78, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
.portfolio-item-outer {
  border: solid 3px #07A5B3;
  margin-bottom: 15px;
  padding: 10px; }
  /* line 83, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  .portfolio-item-outer .portfolio-caption {
    text-align: center;
    padding-top: 3px; }

/* line 89, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
.back-button {
  position: fixed;
  bottom: 0;
  left: 4%;
  height: 55px;
  width: auto;
  padding: 14px 10px 10px 10px;
  background-color: #07A5B3;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  font-size: 18px;
  color: white; }
  /* line 101, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  .back-button:hover {
    height: 65px; }
  /* line 104, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  .back-button i {
    position: relative;
    top: -2px; }

/* Embed responsively videos */
/* line 111, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  /* line 117, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/_portfolio-styles.scss */
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* --------------------
    BASIC PAGE STYLES
-------------------- */
/* line 10, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }
  /* line 14, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
  html body {
    width: 100%;
    height: 100%;
    font-family: "Playfair Display", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
    background-color: #f1f1f1; }
  /* line 28, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
  html h1,
  html h2,
  html h3,
  html h4,
  html h5,
  html h6 {
    margin: 0, 0, 35;
    text-transform: uppercase;
    font-family: "Muli", "Helvetica", "Arial", "sans-serif";
    font-weight: 400;
    letter-spacing: 1px; }
  /* line 35, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
  html p {
    line-height: 1.5em;
    margin: 0, 0, 25px; }
  /* line 39, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
  html a {
    color: #07A5B3;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    /* line 42, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
    html a:hover {
      text-decoration: none;
      color: #E62093; }

/* line 50, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
.content-section {
  padding-top: 100px;
  padding-left: 14px;
  padding-right: 14px; }

/* line 56, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
.section-header {
  font-size: 5.2rem;
  padding-bottom: 100px;
  text-align: center; }

@media (min-width: 768px) {
  /* line 63, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
  .section-header {
    font-size: 7.2rem;
    padding-bottom: 200px; } }

/* --------------------
    BORDER STYLES
-------------------- */
/* line 75, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
.border-top,
.border-right,
.border-bottom,
.border-left {
  z-index: 999;
  position: fixed;
  background-color: #07A5B3; }

/* line 81, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
.border-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; }

/* line 88, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
.border-right {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%; }

/* line 95, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
.border-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; }

/* line 102, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
.border-left {
  top: 0;
  left: 0;
  width: 4px;
  height: 100%; }

@media (min-width: 768px) {
  /* line 110, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
  .border-top {
    height: 8px; }
  /* line 113, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
  .border-right {
    width: 8px; }
  /* line 116, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
  .border-bottom {
    height: 8px; }
  /* line 119, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
  .border-left {
    width: 8px; } }

/* --------------------
FOOTER STYLES
-------------------- */
/* line 127, /Users/kurt/Google Drive/websites/LATEST-portfolio-website/css/scss/style.scss */
footer .container {
  text-align: center;
  color: #555;
  font-size: 1.0rem;
  border-top: 2px dashed #07A5B3;
  padding: 15px; }

/*# sourceMappingURL=style.css.map */