/* --------------------
    VARIABLES
-------------------- */

$body-font-stack: "Playfair Display",
"Helvetica",
"Arial",
sans-serif;
$header-font-stack: "Muli",
'Helvetica',
'Arial',
'sans-serif';
$color--pink: #E62093;
$color--dark-pink: #CD1D84;
$color--blue: #07A5B3;
$color--dark-blue: #0E8E99;
$color--yellow: #EAD338;
$color--bg: #f1f1f1;
$page-border-width: 8px;